@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#opensanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#opensansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dreamIcons';
  src: url('../fonts/dreamit.eot');
  src: url('../fonts/dreamit.eot?#iefix') format('embedded-opentype'), url('../fonts/dreamit.woff') format('woff'), url('../fonts/dreamit.ttf') format('truetype'), url('../fonts/dreamit.svg#opensansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
